@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
			<div class="agileits-top">
				<div asp-validation-summary="All"></div>
				<form asp-action="ResetPassword" method="post">
					<input class="text" asp-for="Password" placeholder="Enter The Password" required="">
					<span asp-validation-for="Password" class="text-danger"></span>
					<br />
					<input class="text" asp-for="ConfirmPassword" placeholder="Enter The Confirm Passwor" required="">
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					<br />
					
					<input type="submit" value="Reset Password">
				</form>
				
			</div>
		</div>

@section ValidationScripts
{
		   <partial name="_ValidationScriptsPartial" />
}


